Source: python-pootle
Section: python
Priority: optional
Maintainer: Yelp i18n <i18n+pootle@yelp.com>
Build-Depends: debhelper (>= 7), python2.7, dh-virtualenv, python-lxml, python-pip, python-setuptools
Standards-Version: 3.9.5

Package: python-pootle
Architecture: any
Pre-Depends: dpkg (>= 1.16.1)
Depends: python2.7, ${misc:Depends}
Description: Pootle is an online translation and localization tool.
 It works to lower the barrier of entry, providing tools to enable teams to work towards higher quality while welcoming newcomers.
